# artifacts
__pycache__
.pytest*
*.egg-info
*/build/*
*/dist/*


# misc
.claude/settings.local.json
.coverage
.vscode
coverage.xml
.ruff_cache


# Home Assistant configuration
config/*
!config/configuration.yaml